<template>
  <div class="intro">
    Домашняя страница
  </div>
</template>

<script>
    export default {
        name: 'Intro'
    }
</script>

<style lang="stylus">
  @import "~assets/style/components/intro.styl";
</style>
