<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <div class="title">Домашняя страница</div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
    export default {
        head: {
            title: 'Домашнаяя страница'
        }
    }
</script>
